:host {
    color: rgb(32, 32, 32);
}

#bg-image{
    display: black;
    position: fixed;
    width: 100%;
    height: 100%;
   background-image: url('../assets/rest.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
}
   
  

.spacer{
    flex: 1 1 auto;
      
}